<main>
{{#each ordersArr}}
 <h1> hi</h1>
 {{name}}
  {{/each}}

  <p></p>
  
  {{!-- <table>
    <tbody>
      {{#each items}}
        <tr>
          <td><a href="/renters/{{renterId}}">{{renterName}}</a></td>
          <td><a href="/movies/{{movieId}}">{{movieTitle}}</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table> --}}
</main>