<main>
<h1>{{orders}}</h1>
  <table>
    <tbody>
      {{#each items}}
        <tr>
          <td><a href="/renters/{{renterId}}">{{renterName}}</a></td>
          <td><a href="/movies/{{movieId}}">{{movieTitle}}</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</main>